<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="day8.TestNGBasics.Example3"/>
      <class name="day8.TestNGBasics.Example2"/>
      <class name="day8.TestNGBasics.OrangeHRMTestNG"/>
      <class name="day8.screenshotAndJS.Example1"/>
      <class name="day8.TestNGBasics.Example1"/>
      <class name="day8.screenshotAndJS.TestScreenshot"/>
      <class name="day8.screenshotAndJS.Example2"/>
      <class name="utilities.SeleniumUtil"/>
      <class name="day8.TestNGBasics.Example4"/>
      <class name="day8.screenshotAndJS.Scrolling"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
